.time-range-picker {
  margin-top: 1em;
  margin-bottom: 2em;

  .btn:hover {
    cursor: pointer;
    color: black;
    background-color: gainsboro;
  }

  .btn.active {
    color: black;
    cursor: default;
    font-weight: bold;
    background-color: white;
  }
}
