.time-range-picker {
  margin-top: 1em;
  margin-bottom: 1em;

  .btn {
    padding: 0.3rem 0.8rem;
  }

  .btn:hover {
    cursor: pointer;
    color: black;
    background-color: gainsboro;
  }

  .btn.active {
    color: black;
    cursor: default;
    font-weight: bold;
    background-color: white;
  }
}
