.time-range-picker {
  margin-top: 1em;
  margin-bottom: 2em;

  .btn.active {
    color: ghostwhite;
    background-color: #334A80;
  }

  .btn.active:hover {
    cursor: pointer;
    background-color: #1F366B;
  }

  .btn:hover {
    cursor: hand;
    color: ghostwhite;
    background-color: #1F366B;
  }
}
