.time-range-picker {
  margin-top: 1em;
  margin-bottom: 1em;

  .collapse {
    display: none;
  }

  .btn.active {
    color: ghostwhite;
    background-color: #A07621;
  }

  .btn.active:hover {
    cursor: pointer;
    background-color: #A07621;
  }

  .btn:hover {
    cursor: hand;
  }

  .large {
    display: none;
  }
}
