.categoryOverview {
  margin-bottom: 1rem;

  .delete-overlay {
    background: rgba(black, 0.9);
    position: absolute;
    height: 100%;
    width: 100%;

    .card-header {
      background: inherit;
      color: whitesmoke;
    }

    .card-block {
      color: whitesmoke;
    }
  }

  .card-header {
    .title {
      margin-bottom: 0;
      display: inline-block;
    }

    .close:hover {
      color: #BF503F;
    }

    .close.overlay {
      color: ghostwhite;
    }
  }
  
  .info {
    .badge {
      margin-right: 0.5rem;
      vertical-align: text-top;
    }
  }

  .card-footer {
    padding-top: 0.25rem;
    padding-bottom: 0.35rem;
  }
}
