@import "../app";

.categories {
  .row {
    @include media-breakpoint-up(xl) {
      margin-left: $spacer-x * 10;
      margin-right: $spacer-x * 10;
    }

    div {
      margin-bottom: $spacer-y;
    }
  }
}
