@import "../../app";

.banner {
  background-color: $primary-color;
  color: ghostwhite;
  padding: 0 15px;
  margin-bottom: 2rem;
  text-align: left;

  .lead {
    padding-bottom: 1rem;
  }

  .breadcrumb {
    background-color: $primary-color;

    a {
      color: ghostwhite;
    }
  }

  .breadcrumb-item::before {
    color: ghostwhite;
  }
}