@import "../../app";

.banner {
  border-top: 1px solid $primary-color;
  border-bottom: 1px solid $primary-color;
  color: #034747;
  padding: 0 15px;
  text-align: left;

  h1 {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
  }
}