@import "~bootstrap/scss/bootstrap.scss";

.transactions {
  .transactions__table {

    @include media-breakpoint-up(md) {
      padding-left: 20em;
      padding-right: 20em;
    }
  }

  tbody {
    tr {
      td {
        vertical-align: middle !important;
      }
    }
  }
}
