.month-selector {
  a {
    padding-left: 2em;
    
    &:hover {
      background-color: #f2f2f2;
      border-radius: 2px;
      cursor: pointer;
    }

    &.active {
      cursor: default;
      font-weight: bold;
      background-color: lightgrey;
      border-radius: 2px;
    }
  }
}